*,
*:after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.base-accordion {
    width: 200px;
    height: 100%;
    padding-bottom: 20px;
    overflow: auto;
}
.base-accordionTitle {
    margin: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: 1px solid #ddd;
    border-top: 2px solid #fff;
    border-bottom: none;
    background-color: #eee;
    font-size: 18px;
    cursor: pointer;
}
.base-accordionItem ul {
    margin: 0;
    padding: 2px 0 2px 0;
    border: 1px solid #eee;
    transition: all ease-in 0.5s;
}
.base-accordionItem li {
    height: 35px;
    border-bottom: 1px solid #ddd;
}
.base-accordionItem li:nth-last-child(1) {
    border-bottom: none;
}
.base-accordionItem li a {
    display: inline-block;
    width: 100%;
    height: 100%;padding: 5px 0;
    text-decoration: none;
    color: #555;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 16px;
}